---
const { title } = Astro.props;
import { Icon } from "astro-icon/components";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
const flags = [
	{ lenguage: "العربية", name: "flagpack:sa" },
	{ lenguage: "বাংলা", name: "flagpack:in" },
	{ lenguage: "Čeština", name: "flagpack:cz" },
	{ lenguage: "Deutsch", name: "flagpack:de" },
	{ lenguage: "Ελληνικά", name: "flagpack:gr" },
	{ lenguage: "English", name: "flagpack:us" },
	{ lenguage: "español", name: "flagpack:es" },
	{ lenguage: "Français", name: "flagpack:fr" },
	{ lenguage: "हिंदी", name: "flagpack:in" },
	{ lenguage: "Magyar", name: "flagpack:hu" },
	{ lenguage: "Bahasa Indonesia", name: "flagpack:id" },
	{ lenguage: "Italiano", name: "flagpack:it" },
	{ lenguage: "日本語", name: "flagpack:jp" },
	{ lenguage: "한국어", name: "flagpack:kr" },
	{ lenguage: "Nederlands", name: "flagpack:nl" },
	{ lenguage: "Polski", name: "flagpack:pl" },
	{ lenguage: "Português", name: "flagpack:br" },
	{ lenguage: "Română", name: "flagpack:ro" },
	{ lenguage: "Русский", name: "flagpack:ru" },
	{ lenguage: "తెలుగు", name: "flagpack:in" },
	{ lenguage: "ภาษาไทย", name: "flagpack:th" },
	{ lenguage: "Tagalog", name: "flagpack:ph" },
	{ lenguage: "Türkçe", name: "flagpack:tr" },
	{ lenguage: "Українською", name: "flagpack:ua" },
	{ lenguage: "Tiếng Việt", name: "flagpack:vn" },
	{ lenguage: "中文", name: "flagpack:cn" },
];
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://cdn.worldvectorlogo.com/logos/duolingo-1.svg"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-16 flex items-center">
			<div
				class="container flex flex-row items-center justify-between max-w-[1200px] mx-32"
			>
				<img src="/duolingo-logo.svg" alt="" />
				<div
					class="relative group flex flex-row items-center hover:text-[#b9b7b7] text-[#AFAFAF] font-roboto font-semibold uppercase"
				>
					<a href="#" class="relative">Idioma de la Pagina: </a>
					<Icon name="mdi:chevron-down" size={28} />
					<div
						class="overflow-y-hidden absolute top-8 right-1 hidden group-hover:block p-4 border-2 border-[#d8d8d8] rounded-[15px] bg-white"
					>
						<div class="py-[15px]">
							<ul
								class="w-96 grid grid-cols-2 gap-2 text-xs text-[#777]"
							>
								{
									flags.map((flag) => (
										<a
											href="#"
											class="flex items-center ml-6 hover:bg-slate-300 py-2 px-4 rounded-xl"
										>
											<>
												<Icon
													name={flag.name}
													size={24}
												/>
												<span class="ml-4">
													{flag.lenguage}
												</span>
											</>
										</a>
									))
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="mt-[75px] flex justify-center mx-auto">
			<div class="max-w-lg">
				<img src="/duolingo-promo.svg" />
			</div>
			<div class="flex items-center flex-col justify-center w-1/3">
				<h1 class="w-full text-3xl text-center font-bold text-gray-600">
					¡La forma divertida, efectiva y gratis de aprender un
					idioma!
				</h1>
				<div
					class="hover:cursor-pointer hover:bg-[#7edd36] mt-11 rounded-xl border-b-4 border-[#50b837] text-white font-bold flex justify-center items-center w-80 h-12 bg-[#58cc02]"
				>
					EMPIEZA AHORA
				</div>
				<div
					class="hover:cursor-pointer hover:bg-[#e0e0e0] mt-3 rounded-xl border-[#E5E5E5] border-2 border-b-4 text-[#1CB0F6] font-bold flex justify-center items-center w-80 h-12"
				>
					YA TENGO UNA CUENTA
				</div>
			</div>
		</div>

		<div
			class="h-20 border-b-[3px] border-t-[3px] border-[#E5E5E5] w-full flex mt-10"
		>
			<nav class="flex items-center mx-auto">
				<div class="text-[#AFAFAF] mr-3 cursor-pointer">
					<Icon name="mdi:chevron-left" size={30} />
				</div>
				<div class="space-x-10 flex font-roboto">
					<a href="#" class="items-center flex"
						><Icon name="flagpack:us" size={35} /><span
							class="ml-4 text-[#777] font-bold">INGLES</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:fr" size={35} /><span
							class="ml-4 text-[#777] font-bold">FRANCES</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:de" size={35} /><span
							class="ml-4 text-[#777] font-bold">ALEMAN</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:it" size={35} /><span
							class="ml-4 text-[#777] font-bold">ITALIANO</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:br" size={35} /><span
							class="ml-4 text-[#777] font-bold">PORTUGUES</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flag:es-ct-4x3" size={35} /><span
							class="ml-4 text-[#777] font-bold">CATALAN</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:ru" size={35} /><span
							class="ml-4 text-[#777] font-bold">RUSO</span
						></a
					>
					<a href="#" class="items-center flex"
						><Icon name="flagpack:se" size={35} /><span
							class="ml-4 text-[#777] font-bold">SUECO</span
						></a
					>
				</div>

				<div class="text-[#AFAFAF] ml-3 cursor-pointer">
					<Icon name="mdi:chevron-right" size={30} />
				</div>
			</nav>
		</div>

		<div class="w-full flex flex-col mt-24">
			<div class="flex mx-auto items-center gap-28">
				<div class="w-[501px] font-roboto">
					<h1
						class="text-[52px] text-[#58CC02] font-extrabold text-wrap leading-tight"
					>
						divertido, efectivo y gratis
					</h1>
					<p class="text-[#777] font-bold mt-10">
						Aprender con Duolingo es divertido y <span
							class="text-[#1CB0F6]"
							>los estudios demuestran que funciona</span
						>. ¡En nuestras lecciones cortas ganarás puntos y
						habilitarás nuevas unidades al mismo tiempo que
						desarrollas tus habilidades de comunicación en la vida
						real!
					</p>
				</div>

				<div class="w-[530px]">
					<img
						src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/23ab11cb1e1a9aff54facdf57833373d.svg"
						alt=""
						class=""
					/>
				</div>
			</div>

			<div class="flex mx-auto items-center gap-28">
				<div class="w-[530px]">
					<img
						src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/08ec8d0260c55c054e1b97bcbc96ea0f.svg"
						alt=""
						class=""
					/>
				</div>
				<div class="w-[501px] font-roboto">
					<h2
						class="text-[52px] text-[#58CC02] font-extrabold text-wrap leading-tight"
					>
						respaldado por la ciencia
					</h2>
					<p class="text-[#777] font-bold mt-10">
						Gracias a la combinación de métodos de enseñanza
						respaldados por la ciencia y un contenido entretenido,
						creamos cursos que enseñan de forma eficiente a leer,
						escribir, entender y hablar en otros idiomas.
					</p>
				</div>
			</div>

			<div class="flex mx-auto items-center gap-28">
				<div class="w-[501px] font-roboto">
					<h2
						class="text-[52px] text-[#58CC02] font-extrabold text-wrap leading-tight"
					>
						mantén tu motivación
					</h2>
					<p class="text-[#777] font-bold mt-10">
						Nuestras funcionalidades y desafíos son divertidos y
						hacen que aprender se sienta como un juego. ¡Vas a poder
						formar un hábito de aprendizaje sin esfuerzo! Y, por
						supuesto, recibirás recordatorios de nuestra adorable
						mascota, Duo, el búho.
					</p>
				</div>

				<div class="w-[530px]">
					<img
						src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/833a22b2834050d139f266a29899bb00.svg"
						alt=""
						class=""
					/>
				</div>
			</div>

			<div class="flex mx-auto items-center gap-28">
				<div class="w-[530px]">
					<img
						src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/9d3c2c99dd19996319a372f79b2ed3c1.svg"
						alt=""
						class=""
					/>
				</div>
				<div class="w-[501px] font-roboto">
					<h2
						class="text-[52px] text-[#58CC02] font-extrabold text-wrap leading-tight"
					>
						aprendizaje personalizado
					</h2>
					<p class="text-[#777] font-bold mt-10">
						Al combinar lo mejor de la inteligencia artificial y las
						ciencias de idiomas, las lecciones se adaptan según tu
						desempeño para ayudarte a aprender al nivel adecuado y a
						tu propio ritmo.
					</p>
				</div>
			</div>
		</div>

		<div
			class="flex mt-80 bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/229d5f88cc9df2eb0b68f39466500911.svg')] bg-center bg-no-repeat bg-cover h-[1000px]"
		>
			<div class="flex flex-col mx-auto">
				<h1
					class="text-[#042C60] text-[64px] font-bold w-[583px] text-center"
				>
					aprende cuando quieras y donde quieras
				</h1>

				<div class="flex justify-center gap-7 mt-10">
					<a
						href="#"
						class="bg-slate-200 px-3 py-1 w-52 rounded-xl border-[#E5E5E5] border-4 flex items-center text-[#4B4B4B] font-bold"
					>
						<Icon name="mdi:apple" size={30} />
						<span class="flex flex-col ml-2">
							<span>Descargalo en la</span><span class="text-xl"
								>App store</span
							>
						</span>
					</a>

					<a
						href="#"
						class="bg-slate-200 px-3 py-1 w-52 rounded-xl border-[#E5E5E5] border-4 flex items-center text-[#4B4B4B] font-bold"
					>
						<Icon name="mdi:google-play" size={30} />
						<span class="flex flex-col ml-2">
							<span>Disponible en</span><span class="text-xl"
								>Google play</span
							>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="bg-[#100F3E] h-[800px] flex items-center">
			<div class="flex mx-auto gap-12 items-center">
				<div
					class="bg-[url('/pajaroAzul.png')] bg-center bg-[length:90%_90%] bg-no-repeat w-[530px] h-[530px]"
				>
				</div>

				<div class="w-[610px] h-48 text-center">
					<div class="">
						<img
							src="https://d35aaqx5ub95lt.cloudfront.net/images/splash/3a733db6d6873e1a915f70cf72554ce3.svg"
							alt=""
						/>
					</div>

					<button
						class="bg-white pt-2 px-4 pb-3 rounded-xl mt-10 border-b-4 border-[#aaa]"
					>
						<span class="text-[#100F3E] font-semibold font-roboto"
							>RUEBA 2 MESES GRATIS</span
						>
					</button>
				</div>
			</div>
		</div>

		<div class="w-full flex mt-10">
			<div class="mx-auto">
				<div class="flex items-center gap-20">
					<div class="">
						<span
							class="text-[#58CC02] font-bold font-roboto text-[48px]"
							>duolingo english test</span
						>
						<p class="text-[#777] w-[420px] font-semibold">
							Nuestro examen de inglés es conveniente, rápido y
							económico. El Duolingo English Test integra los
							últimos avances en la ciencia e inteligencia
							artificial para dar a todas las personas la
							posibilidad de elegir dónde y cuándo hacer el examen
							y que puedan dar lo mejor de sí.
						</p>
						<a
							href="#"
							class="hover:cursor-pointer hover:bg-[#e0e0e0] font-roboto border-b-4 border-2 border-[#E5E5E5] rounded-xl p-3 w-[300px] inline-block mt-6 text-center text-[#1CB0F6] font-bold"
						>
							CERTIFICA TU INGLES
						</a>
					</div>
					<div
						class="mx-10 bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/41a326f8a1a43ee68ef5ea35988fd87b.svg')] bg-center w-[530px] h-[530px]"
					>
					</div>
				</div>

				<div class="flex items-center gap-20">
					<div
						class="mx-10 bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/9f63957bf97d10730813cbb715a0baa0.svg')] bg-center w-[530px] h-[530px]"
					>
					</div>

					<div class="MT-10">
						<span
							class="text-[#58CC02] font-bold font-roboto text-[48px]"
							>duolingo for schools</span
						>
						<p class="text-[#777] w-[420px] font-semibold">
							Maestras y maestros: ¡estamos para ayudarlos!
							Nuestra herramienta gratuita ayuda a tus estudiantes
							a aprender idiomas a través de la app de Duolingo,
							tanto dentro como fuera del salón de clases.
						</p>
						<a
							href="#"
							class="hover:cursor-pointer hover:bg-[#e0e0e0] font-roboto border-b-4 border-2 border-[#E5E5E5] rounded-xl p-3 w-[300px] inline-block mt-6 text-center text-[#1CB0F6] font-bold"
						>
							POTENCIA TU SALON DE CLASES
						</a>
					</div>
				</div>

				<div class="flex items-center gap-20">
					<div class="MT-10">
						<span
							class="text-[#58CC02] font-bold font-roboto text-[48px]"
							>duolingo abc</span
						>
						<p class="text-[#777] w-[420px] font-semibold">
							¡Desde aprender idiomas hasta alfabetismo! Con
							lecciones de fonética y cuentos divertidos, Duolingo
							ABC enseña a niños y niñas de entre 3 y 8 años a
							leer y escribir… ¡y es totalmente gratis!
						</p>
						<a
							href="#"
							class="hover:cursor-pointer hover:bg-[#e0e0e0] font-roboto border-b-4 border-2 border-[#E5E5E5] rounded-xl p-3 w-[300px] inline-block mt-6 text-center text-[#1CB0F6] font-bold"
						>
							CONOCE DUOLINGO ABC
						</a>
					</div>
					<div
						class="mx-10 bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/268877aef1bcca8a53f24b746483346c.svg')] bg-center w-[530px] h-[530px]"
					>
					</div>
				</div>

				<div class="flex items-center gap-20">
					<div
						class="mx-10 bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/1dacb3e2a288440001755c6a30e5ec60.svg')] bg-center w-[530px] h-[530px]"
					>
					</div>

					<div class="mt-10">
						<span
							class="text-[#58CC02] font-bold font-roboto text-[48px]"
							>duolingo math</span
						>
						<p class="text-[#777] w-[420px] font-semibold">
							¡Prueba nuestras lecciones cortas y gratis para
							matemáticas! Con Duolingo Math, los estudiantes
							podrán adelantarse en sus clases de matemáticas y
							los adultos podrán practicar para mejorar su
							destreza matemática.
						</p>
						<a
							href="#"
							class="hover:cursor-pointer hover:bg-[#e0e0e0] font-roboto border-b-4 border-2 border-[#E5E5E5] rounded-xl p-3 w-[300px] inline-block mt-6 text-center text-[#1CB0F6] font-bold"
						>
							MEJORA EN MATEMATICA
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="flex pt-56">
			<div
				class="bg-[url('https://d35aaqx5ub95lt.cloudfront.net/images/splash/lottie/890eb76de9a395b182c1c28322721405.svg')] bg-center w-full h-[700px] bg-[length:110%_190%] bg-no-repeat"
			>
				<div class="w-[530px] h-[260px] mx-auto text-center">
					<h1
						class="text-[64px] font-roboto font-bold text-[#58CC02] leading-[70px]"
					>
						aprende idiomas con duolingo
					</h1>
					<button
						class="pb-4 pt-3 border-b-[5px] border-[#58A700] rounded-xl mt-10 w-96 bg-[#58CC02]"
					>
						<span
							class="text-white font-roboto text-[15px] font-bold"
							>EMPEZAR AHORA</span
						></button
					>
				</div>
			</div>
		</div>

		<footer class="w-full flex flex-col bg-[#58CC02]">
			

				<div class="font-roboto mx-auto grid grid-cols-5 gap-7 font-bold py-40">
					<div class="flex flex-col gap-2 text-[#A5ED6E]">
						<span class="pb-1 text-[19px] text-[#D7FFB8]" >Sobre nosotros</span>
						<a href="#">Cursos</a>
						<a href="#">Misión</a>
						<a href="#">Metodos de enseñanza</a>
						<a href="#">Eficacia</a>
						<a href="#">Equipo</a>
						<a href="#">Investigación</a>
						<a href="#">Empleo</a>
						<a href="#">Guia para uso de marca</a>
						<a href="#">Tienda</a>
						<a href="#">Prensa</a>
						<a href="#">Inversionistas</a>
						<a href="#">Contáctanos</a>
					</div>

					<div class="flex flex-col gap-2 text-[#A5ED6E]">
						<span class="pb-1 text-[19px] text-[#D7FFB8]" >Productos</span>
						<a href="#">Duolingo</a>
						<a href="#">Duolingo for Schools</a>
						<a href="#">Duolingo English Test</a>
						<a href="#">Podcast</a>
						<a href="#">Duolingo for Business</a>
						<a href="#">Súper Duolingo </a>
						<a href="#">Regala Súper Duolingo</a>
						
					</div>
					<div class="flex flex-col gap-2 text-[#A5ED6E] ">
						<span class="pb-1 text-[19px] text-[#D7FFB8]" >Aplicaciones</span>
						<a href="#">Duolingo para Android</a>
						<a href="#">Duolingo para iOS</a>
						
					</div>
					<div class="flex flex-col gap-2 text-[#A5ED6E] ">
						<span class="pb-1 text-[19px] text-[#D7FFB8] " >Ayuda y soporte</span>
						<a href="#">App de Duolingo</a>
						<a href="#">schools</a>
						<a href="#">Duolingo English Test</a>
						<a href="#">Estado</a>
					</div>
					<div class="">
						<div class="flex flex-col gap-2 text-[#A5ED6E] ">
							<span class="pb-1 text-[19px] text-[#D7FFB8]" >Terminos y privacidad</span>
							<a href="#">Normas de la comunidad</a>
							<a href="#">Términos</a>
							<a href="#">privacidad</a>
						</div>
						<div class="flex flex-col gap-2 text-[#A5ED6E]  mt-8">
							<span class="pb-1 text-[19px] text-[#D7FFB8]" >Social</span>
							<a href="#">Blog</a>
							<a href="#">Instagram</a>
							<a href="#">Facebook</a>
							<a href="#">Twitter</a>
							<a href="#">YouTube</a>
						</div>
					</div>
				</div>
			
			<div class="border-white border-t-[1px] pb-16 w-full ">
				<div class=" w-3/4 mx-auto mt-10 font-bold">
					<div class="pl-4 mb-4">
						<span class="text-[#D7FFB8]">Idioma de la página</span>
					</div>
					<ul>
						{
							flags.map((flag) => (
								<a href="#" class="inline-block my-3 px-[15px] text-[13px] text-[#A5ED6E] ">{flag.lenguage}</a>
							))
						}
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>
